<html>

<head>

</head>

<body>
    <h1>
        welcome to my <%=title%>
    </h1>
    <ul>
        <%for(i=0;i<List.length;i++){%>
        <li>
            <%=List[i]%>
        </li>
        <%}%>
    </ul>
</body>

</html>